body{
margin:0;
padding:0;
font-family:Poppins,sans-serif;
background:linear-gradient(135deg,#ffd6e7,#ffc0cb);
color:#fff;
text-align:center;
overflow-x:hidden;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.hero h1{
font-size:55px;
margin:0;
}

.hero h2{
font-size:28px;
margin-top:10px;
color:#fff0f5;
}

.hero p{
width:80%;
max-width:500px;
font-size:18px;
}

button{
padding:15px 35px;
border:none;
border-radius:40px;
background:#ff4f87;
color:white;
font-size:18px;
cursor:pointer;
box-shadow:0 0 20px pink;
transition:.3s;
}

button:hover{
transform:scale(1.08);
}

.hidden{
display:none;
}

.envelope{
background:white;
color:#444;
margin:40px auto;
width:90%;
max-width:700px;
padding:30px;
border-radius:20px;
box-shadow:0 0 30px rgba(255,105,180,.3);
}

.gallery{
padding:60px 20px;
}

.photos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:15px;
}

.photos img{
width:100%;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,.3);
transition:.3s;
}

.photos img:hover{
transform:scale(1.05);
}

.end{
padding:80px 20px;
font-size:22px;
  }
